html {
    height: 100%;
    width: 100%;
}

/*header*/

.top-1, .top-2, .top-3 {
    display: inline-block;
}

@media only screen and (max-width: 768px) {
    div.top-1, div.top-2, div.top-3 {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    div.top-1-collapsed, div.top-2-collapsed, div.top-3-collapsed {
        display: none;
    }
}

.top-1-collapsed, .top-2-collapsed, .top-3-collapsed {
    display: inline-block;
    float: left;
    width: 33.33%;
}



.top-1 {
    width: 43%;
    margin:0;
    padding:0;
    padding-left: 40px;
    border:0;
    float:left;
}
.top-2 {
    width: 14%;
    margin:0;
    padding:0;
    border:0;
    float:left;
}

#topnavdiv {
    width: 43%;
    margin:0;
    padding:0;
    padding-right: 40px;
    border:0;
    clear:both;
    text-align: right;
}

@media only screen and (min-width: 768px) {
div#topnavdiv.collapse.navbar-collapse {
    display: inline-block !important;
    }
}


.title {
    font-family: HaloHandletter;
    color: #9a7d85;
    font-size: 3.8em;
    text-align: center;
}

.search {
    display: inline-block;
    margin-top: 15px;
}

.search .box {
    border: 1px solid #d8e2dc;
    font-size: 11pt;
    font-family: Montserrat-Regular;
    color: #1e1e1e;
    padding: 0 10px;
    height: 40px;
    width: 210px;
}

.search .box:focus {
    border-color: #9a7d85;
    outline: none;
}

.search .go {
    display: inline-block;
    background-color: #d8e2dc;
    border: 0;
    padding: 8px 10px 10px 9px;
}

.search .go .glyphicon-search {
    font-size: 1.6em;
    color: #9a7d85;
    vertical-align: bottom;
}

.search .go:focus {
    outline: none;
}

.links {
    margin-top: 20px;
}

.links div {
    font-size: 16px;
    font-family: Montserrat-Regular;
    display: inline-block;
    color: #9a7d85;
    padding: 0 10px;
}

.links .sign-in, .links .register, .links .open-shop {
    border-right: 1px solid #d8e2dc;
}

.links .cart a{
    color: #9a7d85;
}

.links .cart a:hover{
    color: #9a7d85;
}

.links a, 
.links  a:hover,
.links a:active,
.links a:link {
    color: #1e1e1e;
    text-decoration: none;
}

/* navbar */

.navbar-default {
    background-color: #D8E2DC;
    border: none;
    margin-bottom: 0;
    margin-top: 10px;
    border-radius: 0;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  font-weight: bold;
}

.navbar li {
    font-size: 16px;
    padding: 0 15px;
}

.navbar-default .navbar-nav>li>a {
    color: #1E1E1E;
}

.navbar .navbar-collapse {
  text-align: center;
}

#nav1 {
    background: #fff;
    margin-top: 15px;
}

#nav2 {
    margin-top: 0;
}

@media only screen and (max-width: 768px) {
    nav#nav2.navbar.navbar-default {
        max-height: 0;
    }
}

@media only screen and (max-width: 1206px) {
    .navbar li {
        font-size: 12px;
        padding: 0 7px;
    }
}

@media only screen and (max-width: 908px) {
    .navbar li {
        font-size: 11px;
        padding: 0;
    }
}

/* Fix navbar horizontal scroll */
@media only screen and (max-width: 800px) {
    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        margin-right: 0;
    }
}

/*Container-fluid*/
.container-fluid {
    padding: 0;
}

/*Carousel 1*/

#carousel-1 {
    width: 100%;
}

#carousel-1 .item {
    width: 100%;
    height: 400px;
    background: url(../images/hero/white-roses-antique.png) no-repeat left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#carousel-1 .carousel-control.left, #carousel-1 .carousel-control.right {
    background-image: none
}

#carousel-1 .carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    text-align: left;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

#carousel-1 .carousel-caption button {
    background: #D8E2DC;
    border: none;
    margin-top: 20px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    font-family: Montserrat-Light;
    color: #1E1E1E;
}

#carousel-1 .carousel-caption h2 {
    font-family: Adobe-Garamond-Pro-Italic;
    font-size: 60px;
}

#carousel-1 .carousel-caption p {
    font-family: Montserrat-Light;
    font-size: 24px;
    width: 60%;
    /*padding-bottom: 10px;*/
}

@media only screen and (max-width: 768px) {
    #carousel-1 .item {
    background: url(../images/hero/white-roses-antique.png) no-repeat;
    background-position: 50% 50%;
    }
}

@media only screen and (max-width: 480px) {
    #carousel-1 .item {
        height: 300px;
    }
    #carousel-1 .carousel-caption p {
        display: none;
    }
}

/*Carousel 2*/

#carousel-2 {
    width: 100%;
}

#carousel-2 .carousel-control.left, #carousel-2 .carousel-control.right {
    background-image: none;
}

#carousel-2 .item {
    width: 100%;
    height: 350px;
    background: url(../images/popular-shops/thread-rings_1258x400.png) no-repeat left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#carousel-2 .glyphicon.glyphicon-chevron-left {
    color: #1e1e1e;
}

#carousel-2 .glyphicon.glyphicon-chevron-right {
    color: #1e1e1e;
}

#carousel-2 .carousel-control.right, #carousel-2 .carousel-control.left { 
    opacity: 1;
}



/*Main*/
.strike h2 {
    padding: 20px 0;
    text-align: center;
    font-family: HaloHandletter;
    font-size: 44pt;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.strike > h2 {
    position: relative;
    display: inline-block;
}

.strike > h2:before,
.strike > h2:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #CCCCCC;
}

.strike > h2:before {
    right: 100%;
    margin-right: 15px;
}

.strike > h2:after {
    left: 100%;
    margin-left: 15px;
}

.padleft {
    padding-left: 50px;
}

a .caption {
    color: #333;
}

.row a:hover, .row a:active, .row a:visited, .row a:link {
    text-decoration: none;
}

.caption {
    font-family: Montserrat-Regular, sans-serif;
    font-size: 18px;
    padding-top: 10px;
}

@media only screen and (max-width: 768px) {
    .caption {
        font-size: 14px;
    }
}

.container .price {
    padding-bottom: 15px;
}

#marketplace_container {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 50px;
}

@media only screen and (max-width: 768px) {
    #marketplace_container {
        text-align: center;
    }
}

.vcenter h3 {
    font-family: Adobe-Garamond-Pro-Italic;
    font-size: 50px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.vcenter button {
    background: #D8E2DC;
    border: none;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    font-family: Montserrat-Light;
}

.vcenter p {
    margin-bottom: 40px;
    font-family: Montserrat-Light;
    font-size: 22px;
    width: 90%;
}

.center-section {
    margin-top: 75px;
}

@media only screen and (max-width: 992px) {
    .center-section {
        margin-top: 40px;
        text-align: center;
    }
    .vcenter p {
        font-size: 18px;
        width: 100%;
    }
    .padleft {
        padding-left: 0;
    }
}

@media only screen and (max-width: 480px) {
    .vcenter h3 {
        font-size: 35px;
    }
}

/*.outer-container {
    width: 85%;
    margin: 0 auto;
}*/

#gifts_container {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 50px;
}

#collections_container {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 50px;
}

#room_container {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 50px;
}

#popular-shops_container {
    padding-bottom: 50px;
}

#three-col-content h4 {
    margin-top: 60px;
    font-family: Adobe-Garamond-Pro-Italic;
    font-size: 34pt;
}

#three-col-content p {
    font-family: Montserrat-Light;
    font-size: 16px;
    width: 95%;
    margin-top: 15px;
}

/*Footer*/

footer {
    background: #D8E2DC;
    margin-top: 20px;
    padding-bottom: 50px;
    padding-top: 40px;
}

.container ul {
    list-style: none;
    font-family: Montserrat-Regular;
}

.container li {
    margin-bottom: 4px;
}

.social-icons {
    float: right;
}

.bbb_dynamic {
    padding-left: 40px;
    padding-top: 30px;
}

#copyright {
    float: right;
    padding-top: 60px;
}

@media only screen and (max-width: 992px) {
    .container ul {
        padding-left: 0;
        text-align: center;
    }
    .social-icons {
        float:none;
    }
    div.addthis_toolbox {
        width: 180px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 768px) {
    .bbb_dynamic {
        padding-left: 0;
        text-align: center;
    }

    #copyright {
        float: none;
        text-align: center;
        padding-top: 30px;
    }
}

.centerfix .img-responsive {
    margin: 0 auto;
}